<label> Nome da matéria </label>
<section>
  <h2>Disciplinas</h2>
  <label>Adicionar nova disciplina 
 <input type="text" [(ngModel)]="inputValue">
 <input type="submit" value="+" (click)="handleClick()">
</label>

  <label> Dia da semana
<input type="number" [(ngModel)]="inputValue">
 <input type="submit" value="+" (click)="handleClick()">
</label>

  <ul>
    <li *ngFor="let item of manutencaoService.getList()">
      <p>{{item.name}} </p>
    </li>

    <li *ngFor="let item of manutencaoService.getDia()">
      <p>{{item.diaSemana}} </p>
    </li>
  </ul>
</section>